.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.about-content {
  flex: 1;
  max-width: 600px;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-content h1 {
  text-align: center; /* 使标题文字居中 */
}

.about-image img {
  max-width: 50%;
  height: 50%;
  border-radius: 50%; /* 如果您想要图片是圆形的 */
}

/* 为小屏幕做适配 */
@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
  }
  .about-content,
  .about-image {
    max-width: 100%;
    margin-bottom: 20px;
  }
}
body {
  position: relative; /* 添加这个属性 */
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;   
}
.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.upload-form input[type="text"],
.upload-form button {
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

.file-input-wrapper {
  position: relative;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.custom-file-button {
  background-color: #007BFF;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.custom-file-button:hover {
  background-color: #0056b3;
}

.file-name {
  margin-left: 10px;
  font-size: 14px;
  color: #333;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.upload-form button {
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

.upload-form button:hover {
  background-color: #0056b3;
}
